.slider-content .card-wrapper {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 150px;
    }

    .slider-content .card-image img {
        width: 100%;
    }

    .card-image img {
        width: 10%;
    }

    .slider-content .card{
        width: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    .slick-arrow.slick-prev::before {
        color: black;
        font-size: 25pt;
        position: relative;
    }

    .slick-arrow.slick-next::before {
        color: black;
        font-size: 25pt;
        position: relative;
    }


    .galleryProduct .slick-arrow.slick-prev::before {
        color: black;
        font-size: 25pt;
        margin-left: -15px;
        position: relative;
    }

    .galleryProduct .slick-arrow.slick-next::before {
        color: black;
        font-size: 25pt;
        position: relative;
    }

    .galleryProduct {
        padding: 2rem;
    }

    .slick-dots li button:before
    {
        font-size: 10px !important;
    }
    

      .product-info {
          display: block;
          margin-bottom: 15px;
      }

      .product-price {
          font-weight: 700;
          display: block;
      }


    .featured-products {
        padding-top: 30px;
    }