@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

main, .section {
    background-color: #E5E7EB;
    width: 100%;
}

.logo {
    cursor: pointer;
}

.main {
    width: 100%;
}

    .top-nav-bar {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
    }
      
      @media(max-width: 575px) {
          .top-nav-bar {
              display: block;
          }
      }
